<h1>Painting Page</h1>


<b>Artist:</b> <%= @painting.artist %>
<b>Year:</b> <%= @painting.year %>
<b>Description:</b> <%= @painting.description %>
<b>Country:</b> <%= @painting.country %>
<br>

<%= link_to "Index", paintings_path %>
